# Node
node_modules/

# Next
.next/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Coverage
coverage/

# Cache
.cache/